.add-task {
  margin-right: 15px;
  border-radius: 8px;
  border: 1px solid #CCCCCC;
  padding: 5px 10px;
  font-size: 16px;
  height: 28px;
}

.add-task:hover {
  border-color: #646CFF;
}

.form-style {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}